services:
  mirage-server:
    build:
      context: .
      dockerfile: Dockerfile.server
    container_name: mirage-server
    ports:
      - ${PORT}:5000
    volumes:
      - ${DRIVE_LOCATION}:/mirage/DRIVE
      - ./container/backup/:/mirage/backup
      - ./container/logs/:/mirage/logs
    depends_on:
      - ollama
    restart: unless-stopped
    networks:
      - mirage_network

  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - 11435:11434
    volumes:
      - ollama:/root/.ollama
    networks:
      - mirage_network
    restart: unless-stopped

  mirage-client:
    image: ghcr.io/hetkpatel/mirage-web:latest
    container_name: mirage-web
    ports:
      - 80:80
    depends_on:
      - mirage-server
    restart: unless-stopped

networks:
  mirage_network:
    driver: bridge

volumes:
  ollama:
