absl-py
addict
cachetools
certifi
charset-normalizer
contourpy
cycler
einops
et-xmlfile
filelock
fonttools
fsspec
ftfy
future
google-auth
google-auth-oauthlib
grpcio
huggingface-hub
idna
imageio
imgaug
importlib-metadata
Jinja2
kiwisolver
lazy_loader
lmdb
Markdown
MarkupSafe
matplotlib
mpmath
networkx
numpy
oauthlib
openai-clip
opencv-python
openpyxl
packaging
pandas
pillow
pillow-heif
platformdirs
protobuf
pyasn1
pyasn1-modules
pyiqa
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
requests-oauthlib
rsa
safetensors
scikit-image
scipy
shapely
six
sympy
tb-nightly
tensorboard-data-server
tf_keras-nightly
tifffile
timm
tomli
torch
torchsummary
torchvision
tqdm
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
yapf
zipp