absl-py
accelerate
addict
asttokens
astunparse
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cycler
einops
et-xmlfile
executing
facexlib
filelock
filterpy
Flask
Flask-HTTPAuth
flatbuffers
fonttools
fsspec
ftfy
future
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface_hub
icecream
idna
imageio
imgaug
importlib_metadata
itsdangerous
Jinja2
keras-nightly
kiwisolver
lazy_loader
libclang
llvmlite
lmdb
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
mpmath
namex
networkx
numba
numpy
oauthlib
openai-clip
opencv-python
openpyxl
opt-einsum
optree
packaging
pandas
pillow
pillow_heif
platformdirs
protobuf
psutil
pyasn1
pyasn1_modules
pycparser
Pygments
pyiqa
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
requests-oauthlib
rich
rsa
safetensors
scikit-image
scipy
sentencepiece
shapely
six
sympy
tb-nightly
tensorboard
tensorboard-data-server
tensorflow-io-gcs-filesystem
termcolor
tf_keras-nightly
tf_nightly
tifffile
timm
tokenizers
tomli
torch
torchsummary
torchvision
tqdm
transformers
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
wrapt
yapf
zipp